.idsdefault {
    font-family: Arial,Helvetica,sans-serif;
}

.ui-jqgrid-labels {
    font-size: 15px;
    height: 20px;
    vertical-align: middle;
}


 .protecting {
background: #333;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
filter: alpha(opacity=70);
opacity: 0.5;
 }

.HeaderSelector{
    background-color: #FFFF00;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    float: right;
    height: 100%;
    margin-right: 2px;
    margin-top: 20px;
    width: 13%;
}


 .ui-jqgrid tr.myfootrow td {
    font-weight: bold;
    overflow: hidden;
    white-space:nowrap;
    height: 21px;
    padding: 0 2px 0 2px;
    border-top-width: 1px;
    border-top-color: inherit;
    border-top-style: solid;
}

 /* simple css-based tooltip */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    position:relative;
    top:100px;
    width:200px;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
 
 .fontAnchorLook {
 color:blue;
 text-decoration:underline;
 }
 .footrow td
{
color:#000000;
}

.titleFont{
background:#E6E6E6;
font-weight:bold;
}

.PPcFont{
background:#E6E6E6;
font-weight:normal;
}

.ui-jqgrid-ftable{ 
			border-top: thin solid gray !important;
		}
		
.ui-jqgrid .ui-jqgrid-hbox {
			color:#000000 !important 
		{


.js {display: none;}
.colorWhite {
            background-color: white !important;
        }
.colorGrey {
            background-color: grey !important;
        }
.colorPink {
            background-color: #f6a828 !important;
        }
.colorLightPink {
            background-color: pink !important;
        }
        
 .filter {
   border-color: gray;
     margin-left: 1px;
    margin-top: 10px;
}
 

 .printerIcon {
 background-image: url(images/exit.bmp);
background-repeat: no-repeat;
background-position:left;
padding-left: 3px;
 }

div.box {
    background-color: #FFFF00;
    border-style: none;
    height: 60px;
    width: 100%;
}

.IDSheader{
margin-top:15px;
font-family:Arial,Helvetica,sans-serif;
font-weight:normal;
font-size:30px;
position:relative;
top:1px;
}
.leftLogo{
float:left;
margin-top:3px;
margin-left:3px;
margin-right:20px;
}
.noOverlayDialog{
opacity:0.2;
}
.rightLogo{
float:right;
margin-top:3px;
margin-left:10px;
margin-right:3px;
padding-bottom: 0px;
border-bottom-width: 3px;
margin-bottom: 0px;
height: 30px;
border-right-width: 5px;
margin-right: 5px;
}

.RightNav {
    background-color: #FFFF00;
    border: 1px solid #808080;
    float: right;
    height: 100%;
    margin-left: 10px;
    margin-top: 20px;
    width: 14%;
}

